<section class="songs-list ideal">

    <div class="ui-status empty">
        No hay ninguna canción.

    </div>

    <div class="ui-status error">
        Se ha producido un error al cargar la canción.

    </div>

    <div class="ui-status loading">
        Cargando...

    </div>

    <div class="ui-status ideal">
        <a href="detail.html">
    <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/18581-thickbox_default/jersey-rayas-viscosa-seda-warrior-suede.jpg">
        <div class="artist">Suéter rallas lazos</div>
        <div class="title">¡Perfecto para la primavera!</div>

    </article>

    </a>

    <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/16673-thickbox_default/jersey-art-pico-rayas.jpg" alt="Artist - song - title">
        <div class="artist">Sueter escote pico</div>
        <div class="title">De color azul cielo-</div>
    
    </article>

    <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/16550-thickbox_default/jersey-rayas-frontal-aina.jpg" alt="Artist - song - title">
        <div class="artist">Suéter rallas blancas</div>
        <div class="title">Un suéter informal y muy ponible.</div>
        
    </article>

    <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/18372-thickbox_default/chaqueta-bordada-ginder-eloisa.jpg" alt="Artist - song - title">
        <div class="artist">Camisa militar</div>
        <div class="title">¡La típica camisa para primavera que no puede faltar en tu armario!</div>
            
    </article>

    <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/18878-thickbox_default/blusa-lazo-manga-lidia.jpg" alt="Artist - song - title">
        <div class="artist">Blusa escote barco lazos</div>
        <div class="title">¡Un acierto seguro! tanto para el día a día como para ocasiones más especiales.</div>
                
     </article>

  <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/16827-thickbox_default/blusa-manga-recogida-irish.jpg" alt="Artist - song - title">
        <div class="artist">Blusa lazortist name</div>
        <div class="title">De color rosa palo, sencilla pero elegante.</div>
                    
 </article>

 <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/17256-thickbox_default/clutch-beads-eloisa.jpg" alt="Artist - song - title">
        <div class="artist">Bandolera brillos</div>
        <div class="title">Completa tu look a la perfección.</div>
                    
 </article>

 <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/17678-thickbox_default/falda-pisa-tencel-botones-y-bolsillos-pisa-tencel.jpg" alt="Artist - song - title">
        <div class="artist">Falda verde botones</div>
        <div class="title">Muy versátil. ¡Combínala con un suéter en invierno o con tu top preferido en verano!</div>
                    
 </article>

 <article class="song"> 
        <img class="cover" src="https://www.browniespain.com/16649-thickbox_default/botin-serraje-cuna.jpg" alt="Artist - song - title">
        <div class="artist">Botines ante camperos</div>
        <div class="title">¡El calzado que nunca falla! Con mil posibilidades de combinarlos.</div>
                    
 </article>

 <article class="song"> 
        <img class="cover" src="https://dhb3yazwboecu.cloudfront.net/646/cardi-africaadl.jpg" alt="Artist - song - title">
        <div class="artist">Cárdigan detalle mangas</div>
        <div class="title"></div>
                    
 </article>

</div>

</section>